@model Supplier

@{
    ViewData["Title"] = "Edit Supplier";
}

<head>
    <link rel="stylesheet" href="~/css/Supplier/Edit.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<div class="edit-supplier-container">
    <h1 class="edit-title">Edit Supplier - @Model.Name</h1>

    <div class="form-section card">
        <form asp-action="Edit" asp-controller="Supplier" method="post" class="edit-form">
            <input type="hidden" asp-for="SupplierId" />
            <div class="form-group">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-input" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-input" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="form-label"></label>
                <input type="email" asp-for="Email" class="form-input" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="form-label"></label>
                <input type="number" asp-for="Phone" class="form-input" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-save">Save Changes</button>
                <a asp-action="Index" class="btn btn-back">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}